@import "tailwindcss";

:root {
  --background: #f9f9ff;
  --surface: #f9f9ff;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f2f3fd;
  --surface-container: #ecedf7;
  --surface-container-high: #e6e7f2;
  --surface-container-highest: #e1e2ec;
  --on-surface: #191b23;
  --on-surface-variant: #424754;
  --outline: #727785;
  --outline-variant: #c2c6d6;
  --primary: #0058be;
  --on-primary: #ffffff;
  --primary-container: #2170e4;
  --on-primary-container: #fefcff;
  --secondary: #505f76;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --surface: #131313;
    --surface-container-lowest: #0e0e0e;
    --surface-container-low: #1c1b1b;
    --surface-container: #201f1f;
    --surface-container-high: #2a2a2a;
    --surface-container-highest: #353534;
    --on-surface: #e5e2e1;
    --on-surface-variant: #bbcabf;
    --outline: #86948a;
    --outline-variant: #3c4a42;
    --primary: #4edea3;
    --on-primary: #003824;
    --primary-container: #10b981;
    --on-primary-container: #00422b;
    --secondary: #95d3ba;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--on-surface);
  --color-surface: var(--surface);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--on-surface);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
